<style>
  #guides {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  #line {
    background-color: rgba( 0, 0, 0, .03 );
    height: 100%;
  }
</style>

<ul id="guides" class="row">
  <li id="line" class="desktop-1 mobile-1"></li>
  <li id="line" class="desktop-1 mobile-1"></li>
  <li id="line" class="desktop-1 mobile-1"></li>
  <li id="line" class="desktop-1 mobile-1"></li>
  <li id="line" class="desktop-1 mobile-hide"></li>
  <li id="line" class="desktop-1 mobile-hide"></li>
  <li id="line" class="desktop-1 mobile-hide"></li>
  <li id="line" class="desktop-1 mobile-hide"></li>
  <li id="line" class="desktop-1 mobile-hide"></li>
  <li id="line" class="desktop-1 mobile-hide"></li>
  <li id="line" class="desktop-1 mobile-hide"></li>
  <li id="line" class="desktop-1 mobile-hide"></li>
  <li id="line" class="desktop-1 mobile-hide"></li>
  <li id="line" class="desktop-1 mobile-hide"></li>
  <li id="line" class="desktop-1 mobile-hide"></li>
  <li id="line" class="desktop-1 mobile-hide"></li>
</ul>